.content-box {
  background-color: var(--verde-2);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 6px var(--verde-6);
  width: 70%;
  min-height: 100vh;
  margin: auto; /* Centraliza horizontalmente */
  padding: 20px; /* Espaçamento interno */
  font-family: "Arial", sans-serif;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.home-container h1 {
  color: #f0f5f0;
  font-size: 36px;
}

.home-container p {
  color: #f0f5f0;
  font-size: 24px;
  font-style: italic;
}
.info-box {
  background-color: #b3e6cc; /* Caixa de informação mais clara */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box h1,
.info-box h2 {
  color: #003300; /* Verde escuro */
  margin-bottom: 10px;
}

.content-box p,
.info-box p {
  color: #004d00;
  font-size: 16px;
}

.list-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-box li {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .content-box,
  .info-box {
    width: 90%;
  }
}
