.navbar {
  background-color: #063d1e; /* Fundo verde escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links a {
  color: #b3ffcc; /* Verde claro */
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.historico a {
  color: #b3ffcc;
  text-decoration: none;
  font-size: 18px;
}

.historico {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .nav-links a {
    font-size: 0.9em;
  }
  .historico a {
    font-size: 0.9em;
  }
}
